/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #1B328B;
  --theme__color2: #DE4780;
  --montserrat: 'Montserrat', sans-serif;
  --lora: 'Lora', serif;
  --inter: 'Inter', sans-serif;
  --rubik: 'Rubik', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 22px;
  line-height: 1.6;
  background-color: var(--theme__color1);
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--montserrat);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-family: var(--lora);
  margin-bottom: 15px;
  opacity: 0.7;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


/* ---common-content--- */
.h2 {
  font-size: 48px;
  margin: 0 0 27px;
  font-weight: 600;
}
.cont_blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont_blk.cont_blk--center {
  align-items: center;
  text-align: center;
}
.cont_blk-in-text {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont_blk .bottom-button {
  margin: 27px 0 0;
}
/* ---common-content---end */




/* header */
.header-section {
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__in {

}
@media (min-width:1200px) {
  .header-section .container {
    max-width: 974px;
  }
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
}

.header-logo {

}
.header-logo img {

}

.main-menu {

}
.main-menu > ul {
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  margin-right: 42px;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li > a {
  font-size: 11px;
  font-weight: 500;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color2);
}
/* header-end */





/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
  font-weight: 600;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  background: url('images/hero-image.svg') no-repeat center top/100% 100%;
  position: relative;
  z-index: 2;
}

.hero-section__inner {
	padding: 140px 0;
	min-height: calc(var(--vw) * 0.824);
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	min-height: 20vw;
}
.hero__content .h1 {
  margin: 0 0 18px;
  font-size: 94px;
}
.hero__content p {
  font-size: 20px;
}
.hero__content .bottom-button {
  margin: 35px 0 0;
}
/* ---hero-section---end */



/* ---section-a--- */
.section-a {
  --margin-top: calc(var(--vw) * 0.824 * 0.08);
	margin: calc(var(--margin-top) * -1) 0 0;
  padding: calc(var(--margin-top) + 142px) 0 0;
	background: url('images/section-a-bg.svg') repeat center top/100% 100%;
}
.section-a__inner {
	min-height: calc(var(--vw) * 0.675);
}

.section-a__content {
  max-width: 700px;
  margin: 0 auto;
}
/* ---section-a---end */


/* ---section-b--- */
.section-b {
  background: url('images/section-b.svg') no-repeat center bottom/100% auto;
}
.section-b__inner {
  padding: 135px 0 0;
	display: flex;
	min-height: calc(var(--vw) * 0.85);
  position: relative;
  z-index: 1;
}
.section-b__jelly-fish {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: calc(var(--vw) * 0.18);
}

.section-b__content {
  max-width: 700px;
  margin: 0 0 0 auto;
}
/* ---section-b---end */



/* ---clean-section--- */
.clean-section {
	padding: 48px 0 calc(var(--vw) * 0.283);
	background: linear-gradient(to top, #c141e13f, #001439);
	position: relative;
	z-index: 1;
}
.clean__bg-ov-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.clean-section__inner {
	/* min-height: calc(var(--vw) * 0.66); */
}

.clean__content-box {
  padding: 55px 40px;
  background: linear-gradient(166.87deg, #FFFFFF -0.61%, #C9C4E3 119.71%);
  border-radius: 20px;
  color: #001439;
  position: relative;
  z-index: 1;
}
.clean__content-box .fish1 {
	width: 164px;
	top: 65px;
	left: -85px;
	position: absolute;
}
.clean__content-box .fish2 {
	position: absolute;
	top: 150px;
	right: 70px;
	width: 112px;
}
.clean__content-box__title {
  margin: 0 0 50px;
  text-align: center;
}
.clean__content-box__title h2 {
  font-size: 50px;
}
.clean__content-box__title h5 {

}
.clean__content-box__main {

}
.clean-box__table {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
.clean-box__table .tr {
  display: flex;
}
.clean-box__table .tr .column {
  margin: 0 0 15px;
}
.clean-box__table .tr .column--1 {
  flex-grow: 1;
}
.clean-box__table .tr .column--2 {
  width: 110px;
  text-align: right;
  flex-shrink: 0;
}
.clean-box__table .tr .column--2 h3 {
  font-size: 24px;
  font-weight: 600;
}
.clean__elm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clean__elm-icon {
  margin: 0 9px;
  width: 60px;
  height: 60px;
}
.clean__elm-icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.clean-box__table__after-row {
  margin: 42px 0 0;
  display: flex;
  justify-content: center;
}
.clean-box__table__after-row .button {

}
/* ---clean-section---end */



/* ---footer-section--- */
.footer-section {
  padding: 115px 0 175px;
  background: #021E50;
}
.footer-section__inner {
  display: flex;
  justify-content: space-between;
}
.footer__left {

}
.footer__logo {
  margin: 0 0 33px;
  display: inline-flex;
}
.footer__left p {
  font-size: 14px;
  font-family: var(--inter);
}
.fs-menu {
  margin: 25px 0 0;
  display: flex;
}
.fs-menu li {
  margin-right: 25px;
}
.fs-menu li:last-child {
  margin-right: 0;
}
.fs-menu li a {
  font-size: 24px;
}
.fs-menu li a:hover {

}

.footer__right {
  width: 50%;
  font-family: var(--rubik);
  display: flex;
}
.footer__menu-column {
  width: 33.33%;
}
.footer__menu-column h4 {
  font-size: 25px;
  margin: 0 0 28px;
  font-weight: 400;
}
.footer__menu {

}
.footer__menu li {
  margin: 0 0 8px;
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
.footer__menu li a {
  font-size: 15px;
  opacity: 0.7;
  transition: 0.3s;
}
.footer__menu li a:hover {
  opacity: 1;
}
/* ---footer-section---end */